site_name: "邁向人生艱辛的道路 - DevSecOps"

theme:
  name: material
  icon:
    logo: octicons/rocket-16 
  palette:
    - scheme: default
      primary: indigo
      toggle: 
        icon: material/brightness-4
        name: Switch to dark mode
    - scheme:  blue grey
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  language: en
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.top
    - navigation.indexes
    - navigation.footer

plugins:
#  - glightbox
  - search
#  - git-revision-date-localized:
#      enable_creation_date: false
#      fallback_to_build_date: true
#


copyright: Copyright &copy; 2023 Willis Lin
